.footer {
    background-color: #c9d4cc;
    color: black;
    text-align: center;
    padding: 10px 0;
    padding-left: 20px;
    bottom: 0;
    height: 10px;
    text-align: left;
}

.footer a {
  color: black;
}
  